[submodule "tools/html_interface/fi"]
	path = tools/html_interface/fi
	url = https://github.com/sebmatton/jQuery-Flight-Indicators
[submodule "tools/html_interface/gmaps"]
	path = tools/html_interface/gmaps
	url = https://github.com/HPNeo/gmaps.git
