[submodule "tools/html_interface/fi"]
	path = tools/html_interface/fi
	url = https://github.com/sebmatton/jQuery-Flight-Indicators
[submodule "tools/html_interface/cesiumjs"]
	path = tools/html_interface/cesiumjs
	url = https://github.com/mixxen/cesiumjs
