<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="statics/vendor/cesiumjs/Build/Cesium/Widgets/widgets.css" />
        <link rel="stylesheet" type="text/css" href="statics/css/czml.css" />
        <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
        <script type="text/javascript"  src="statics/vendor/cesiumjs/Build/Cesium/Cesium.js"></script>
        <script type="text/javascript" src="statics/js/czml.js"></script>
    </head>
    <body>
        <div id="cesiumContainer" ></div>
    </body>
    
</html>