<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="../html_interface/cesiumjs/Build/Cesium/Widgets/widgets.css" />
        <script type="text/javascript"  src="../html_interface/cesiumjs/Build/Cesium/Cesium.js"></script>
    </head>
    <script type="text/javascript">
        var viewer = new Cesium.Viewer('cesiumContainer');
    </script>
    <body>
        <div id="cesiumContainer" class="fullSize"></div>
        <div id="loadingOverlay"><h1>Loading...</h1></div>
    </body>
    
</html>